@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");

.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

h2 {
  color: rgb(60, 3, 153);
}

.ptextbooking {
  font-family: "Raleway", sans-serif;
  padding: 0 6px;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  color: #012a44;
  margin-bottom: 13px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.contain {
  padding-top: 70px;
  padding-right: 180px;
  padding-left: 180px;
  padding-bottom: 50px;
  background-color: #012a44;
}

.containz {
  padding-top: 20px;
  padding-right: 180px;
  padding-left: 180px;
  background: rgb(245, 246, 255);
  fill-opacity: 30%;
}

.container-form {
  padding-top: 20px;
  justify-content: right;
  margin: 0 auto;
  color: #000;
  background: rgb(245, 246, 255);
  fill-opacity: 30%;
}

form {
  display: grid;
  grid-row-gap: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}

.form-field {
  display: flex;
  justify-content: space-between;
}

.form-field-select {
  display: flex;
  justify-content: space-between;
}

.form-field-checkbox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

input {
  width: 75%;
  padding: 1px 30px;
  margin: 8px 0;
  border: 1px solid rgb(250, 243, 243);
  box-sizing: border-box;
  pad: 25px 10px;
  position: relative;
  font-size: 17px;
  left: -20px;
  top: -7px;
  line-height: 40px;
}

.selectinput {
  padding: 1px 30px;
  margin: 8px 0;
  border: 1px solid rgb(250, 243, 243);
  box-sizing: border-box;
  pad: 25px 10px;
  position: relative;
  font-size: 17px;
  left: -20px;
  top: -7px;
  line-height: 40px;
}

.formcheckinput {
  /* width: 75%; */
  padding: 1px 30px;
  margin: 8px 0;
  border: 1px solid rgb(250, 243, 243);
  box-sizing: border-box;
  pad: 25px 10px;
  position: relative;
  font-size: 17px;
  left: -20px;
  top: -7px;
  line-height: 40px;
}

select {
  width: 75%;
  padding: 1px 10px;
  margin: 8px 0;
  border: 1px solid rgb(250, 243, 243);
  box-sizing: border-box;
  pad: 25px 10px;
  position: relative;
  font-size: 17px;
  left: -20px;
  top: -7px;
  line-height: 40px;
}

output {
  width: 50%;
  padding: 1px 30px;
  margin: 8px 0;
  border: 1px solid rgb(250, 243, 243);
  box-sizing: border-box;
  pad: 25px 10px;
  position: relative;
  font-size: 17px;
  left: -200px;
  top: -7px;
  line-height: 40px;
}

label {
  /* width:10%; */
  padding-top: 10px;
  padding: 1px 10px;
  left: 20px;
  padding-top: -50px;
  line-height: 10px;
}
.buttondiv {
  display: flex;
  justify-content: center;
  padding: 4px;
  padding-bottom: 8px;
}

.btn {
  background-color: rgb(0, 132, 255);
  padding: 14px 20px;
  border: none;
  font-size: 18px;
  border-radius: 100px;
  cursor: pointer;
  width: 40%;
  border: 1px solid transparent;
  color: #fff;
}
